.label {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
}

.input {
  padding: 0;
  margin: 0.2rem;
  width: 100%;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 3px;
  height: 34px;
  padding-left: 10px;
  transition: all 0.3s;
  font-size: small;
  &[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  &::placeholder {
    color: rgb(182, 182, 182);
  }
  &:focus {
    outline: none;
    background: white;
    border: 1px solid black;
  }
}
