.buttons_block{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text{
  margin-right: .4rem;
  font-size: .9rem;
}

.sort_block{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 .5rem 7rem;
}
.search_block{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 7rem .5rem 0;
}
