.add_book_page {
  line-height: 1.5;
  .add_book_form {
    display: flex;
    flex-direction: column;
    padding: 4rem 5rem 1.5rem ;
    border-radius: 0.5rem;
    background: white;
    label {
      .error {
        font-size: small;
        color: red;
        margin-left: 1rem;
      }
    }
    .add_image_block{
      display: grid;
      grid-template-columns: auto 101px;
      grid-gap: 1rem;
    }

    img {
      display: block;
      width: 10vh;
    }
    .description {
      font-size: small;
      color: gray;
      margin-left: 1rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .add_book_form {
    margin: 0 1rem !important;
    padding: 1.5rem 1rem 4rem !important;
  }
}
