.about_section {
  background: white;
  padding: 2rem 6rem 1rem;
  margin: 0 5rem;
  border-radius: .5rem;
}

ul {
  line-height: 1.2rem;
  ul {
    margin-left: 2rem;
  }
}

li {
  margin: 0.6rem;
}

h3 {
  line-height: 1.2rem;
  margin: 2rem 1rem 1rem;
}

p {
  margin: 1rem 3rem;
  
}
